body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    background-image: url("imgs/B.png");
}

#header {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    background-color: #131313;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.5);
}

.panel-container {
    display: flex;
    justify-content: center;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    min-height: 60vh;
    margin: 50px;
    padding: 0;
    font-size: 24px;
    text-align: center;
    color: white;
    background-color: #212121;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s, filter 0.5s, box-shadow 0.5s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
}

.panel img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.panel h1 {
    text-shadow: 1px 1px 2px rgba(0,0,0,2), -1px -1px 2px rgba(0,0,0,0.5);
}

#spotify {
    background-color: #1DB954;
}

#spotify:hover {
    box-shadow: 0 0 15px rgba(30, 215, 96, 0.8);
}

#apple {
    background-color: #FA383E;
}

#apple:hover {
    box-shadow: 0 0 15px rgba(250, 56, 46, 0.8);
}

#about-wrapper {
    width: 100%;
    padding: 50px 0;
    background-color: #131313;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.5);
}

#about {
    max-width: 1000px;
    margin: auto;
    padding: 0;
    font-size: 20px;
    line-height: 1.8;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
}